
/* Padrões */

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 24.5em;
}

#web-top {
    display: flex;
}

/* Cabeçalho */

#cabecalho {
    box-shadow: 2px 0px 10px #000;
    opacity: 0.90;
}

#cabecalho {
    background-color: #014e41;
}

#cabecalho a {
    cursor: pointer;
    color: #000;
    font-weight: bold;
    padding-left: 2cm;
}

#cabecalho a:hover {
    text-decoration: none;
    color: #000;
}

/* Classes */

.img-blur {
    filter: blur(3px);
}

.content-img > img {
    padding-left: 50px;
}

.text {
    font-family: 'Sanchez', serif;
}

.titulo h1 {
    position: absolute;
    z-index: 2;
    color: #e1f5fe;
    text-shadow: 4px 4px 6px #000;
    font-size: 7.5em;
    font-family: 'Girassol', cursive;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.titulo h3 {
    padding-bottom: 6em;
}

.pacifico {
    font-family: 'Pacifico', cursive;
    font-size: 0.98em;
}

.card-header {
    cursor: pointer;
}

/* Conteúdo */

#conteudo {
    margin-top: 80px;
    padding-bottom: 80px;
}

/* Rodapé */

#rodape {
    background-color: #607d8b;
    padding: 80px 10px 20px 20px;
    box-shadow: 2px 0px 10px #000;
}

#rodape  p {
    font-weight: bold;
    font-size: 1.2em;
}

#rodape li {
    font-size: 1.1em;
}

#redes-sociais li {
    padding-right: 20px;
}

#redes-sociais img {
    width: 1.4em;
    height: 1.4em;
}

#contato > p {
    padding-right: 25px;
}

#contato {
    padding-right: 45px;
    padding-bottom: 20px;
}