
/* Padrões */

body {
    overflow-x: hidden; 
    overflow-y: auto;
    background-color: #f2f2f2;
}

h1, h2, img, #cabecalho, #rodape, .card-header{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 24.5em;
}

#web-top, #web-bottom {
    display: flex;
}

/* Cabeçalho */

#cabecalho {
    box-shadow: 2px 0px 10px #000;
    background-color: #014e41;
    opacity: 0.90;
}

#cabecalho a {
    cursor: pointer;
    color: #000;
    font-weight: bold;
    padding-left: 1.8cm;
}

#cabecalho a:hover {
    text-decoration: none;
}

/* Conteúdo */

#conteudo {
    margin-top: 80px;
    padding-bottom: 80px;
}

.img-blur {
    filter: blur(3px);
}

.content-img > img {
    padding-left: 50px;
}

/* Titulo */

.titulo h1 {
    position: absolute;
    z-index: 2;
    color: #e1f5fe;
    text-shadow: 4px 4px 6px #000;
    font-size: 7.5em;
    font-family: 'Girassol', cursive;
}

.titulo h2 {
    padding-bottom: 1em;
    font-size: 7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo h3 {
    padding-bottom: 2em;
    font-size: 3em;
    font-weight: bold;
}

/* Listas */

.list {
    padding-bottom: 4em;
}

.list > li {
    font-size: 2em;
    padding-bottom: 4px;
}

/* Cards */

.card {
    margin-bottom: 2em;
}

.card-header {
    cursor: pointer;
}

/* Fonts */

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.font-sanchez {
    font-family: 'Sanchez', serif;
}

.font-frank {
    font-family: 'Frank Ruhl Libre', serif;
}

/* Rodapé */

#rodape {
    background-color: #607d8b;
    padding: 40px 10px 20px 20px;
    box-shadow: 2px 0px 10px #000;
}

#rodape  p {
    font-weight: bold;
    font-size: 1.2em;
}

#rodape li {
    font-size: 1.1em;
}

#redes-sociais li {
    padding-right: 20px;
}

#redes-sociais img {
    width: 1.4em;
    height: 1.4em;
}

#contato > p {
    padding-right: 25px;
}

#contato {
    padding-right: 45px;
    padding-bottom: 20px;
}

/* Media Queries */

@media(max-width: 1200px){
    img{
        height: 8.5em;
    }
    .titulo h1{
        font-size: 3.5em;
    }
}

@media(max-width: 989px){
    #cabecalho a{
        padding: 0cm;
    }

    #cabecalho > nav > div {
        margin-top: -10px;
    }

    #cabecalho ul {
        display: flex;
        margin-top: 0px;
        justify-content: flex-start;
        align-items: center;
    }

    #cabecalho li {
        padding-bottom: 0.2em;
    }

}

@media(max-width: 580px) {
    #search-box > button {
        display: none;
    }

    #search-box input[type=search]:focus ~ button {
        display: block;
    }
}